.detailsSection {
    padding: 100px 0 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.2s;
}

.item img {
    object-fit: cover;
    max-width: 150px;
    width: auto;
    height: auto;
}

.item:hover {
    transform: scale(1.05);
}