/* TODO: use tailwind
@tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --primary-color: #58b1db;
  --secondary-color: #f46fa1;
  --tertiary-color: #93c83e;
  --quaternary-color: #ad5691;
}

.hover-secondary:hover {
  background-color: var(--secondary-color);
}
